<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Task</title>
</head>
<body>
<form action="/add_task" method="post">
    <p>Task Name</p>
    <input type="text" name="taskName">
    <p>Task Priority</p>
    <input type="text" name="taskPriority">
    <p>Task Date</p>
    <input type="text" name="taskDate">
    <p>Task Status</p>
    <input type="text" name="taskStatus">
    <button type="submit">Add Task</button>
</form>
<a href="/tasks">Check List of Tasks</a>
</body>
</html>