<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="style.css">
<head>
    <meta charset="UTF-8">
    <title>Task Manager</title>
</head>
<body>
    <a href="/add_task">Add New Task</a>
    <table border="1px">
        <thead>
        <tr>
            <th>Task ID</th>
            <th>Task Name</th>
            <th>Task Priority</th>
            <th>Task Status</th>
            <th>Task Date <br> yyyy-MM-dd</th>
        </tr>
        </thead>
        <tbody align="center">
        <tr th:each="task : ${listOfTasks}">
            <td th:text="${task.getId()}"></td>
            <td th:text="${task.taskName}"></td>
            <td th:if="${task.taskPriority.toString() == '1'}" th:text="${task.taskPriority}" bgcolor="red"></td>
            <td th:if="${task.taskPriority.toString() == '2'}" th:text="${task.taskPriority}" bgcolor="yellow"></td>
            <td th:if="${task.taskPriority.toString() == '3'}" th:text="${task.taskPriority}" bgcolor="green"></td>
            <td th:if="${task.taskPriority.toString() != '1' && task.taskPriority.toString() != '2' && task.taskPriority.toString() != '3'}" th:text="${task.taskPriority}" bgcolor="green"></td>
            <div th:switch="${task.taskStatus}">
                <td th:case='true'>Done</td>
                <td th:case='false'>Undone</td>
            </div>
            <td th:text="${task.taskDate}"></td>
            <td><form th:action="'delete?id=' + ${task.getId()}" method="post">
                <button type="submit">Delete</button>
            </form><br></td>
            <td><a th:text="Update" href="/update_task"></a></td>
        </tr>
        </tbody>
    </table>
</body>
</html>